nav {
    overflow: hidden;
}

.logo {
    float: left;
    margin-top: 64px;
    margin-left: 165px;
}

.primary-button {
    width: 175px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #E8EFF2;
    border-width: 0;
    color: #162542;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    float: right;
    margin-top: 55px;
    margin-right: 165px;
}

@media (min-width:851px) {
    .primary-button:hover {
        color: #FFF;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        border-radius: 8px;
        background: #162542;
        cursor: pointer;
    }
    .secondary-button:hover {
        border-radius: 8px;
        background: #FF9B62;
        color: #FFF;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        cursor: pointer;
    }
}

.section-1 {
    display: flex;
    margin-top: 150px;
    justify-content: space-between;
    padding: 0 165px;
    flex-wrap: wrap;
}

.section-1-left {
    width: 445px;
    overflow: hidden;
    margin-right: 40px;
    float: left;
    flex-shrink: 0;
}

.section-1-right {
    overflow: hidden;
    margin-left: 40px;
    float: right;
    flex-shrink: 0;
}

.section-2 {
    display: flex;
    margin-top: 40px;
    justify-content: space-between;
    padding: 0 165px;
    flex-wrap: wrap;
}

.section-2-left {
    display: flex;
    gap: 10px;
    justify-content: space-between;
}

.section-2-right {
    width: 255px;
    height: 265px;
    flex-shrink: 0;
    overflow: hidden;
}

.mechanical-text {
    font-weight: bold;
    font-size: 24px;
}

.description-body2 {
    font-size: 16px;
    margin-top: 10px;
}

.grey-container,
.grey-container-left {
    display: none;
}

@media (min-width: 851px) {
    .grey-container {
        display: block;
        position: absolute;
        right: 0px;
    }
    .grey-container-left {
        display: flex;
        position: absolute;
        left: 0px;
    }
    .section1-image {
        display: flex;
        width: 540px;
        height: 480px;
        flex-shrink: 0;
        border-radius: 20px;
        background: transparent;
    }
    .section2-first-image {
        width: 255px;
        height: 480px;
        border-radius: 20px;
    }
    .section2-second-image {
        width: 445px;
        height: 480px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #D8D8D8;
    }
}

.typemaster-text {
    color: #162542;
    font-family: Barlow;
    font-size: 56px;
    font-style: normal;
    font-weight: 900;
    line-height: 56px;
    text-transform: uppercase;
}

.description-1 {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.secondary-button {
    width: 175px;
    height: 58px;
    flex-shrink: 0;
    border-radius: 8px;
    background: #F16718;
    border-width: 0;
    color: #FFF;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    float: left;
}

.release-text {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    float: right;
    margin-right: 103px;
    margin-top: 12px;
}

.overlay {
    width: 255px;
    height: 480px;
    border-radius: 20px;
    position: absolute;
    background: #F16718;
    mix-blend-mode: multiply;
    z-index: 1;
    border-radius: 20px;
}

.mechanical-text {
    color: #162542;
    font-family: Barlow;
    font-size: 32px;
    font-style: normal;
    font-weight: 900;
    line-height: 36px;
    text-transform: uppercase;
}

.description {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}

.section3-body {
    width: 255px;
    height: 323px;
    flex-shrink: 0;
}

.header-frame {
    width: 200px;
    display: flex;
}

.header {
    color: #162542;
    font-family: Barlow;
    font-size: 24px;
    font-style: normal;
    font-weight: 900;
    line-height: 28px;
    text-transform: uppercase;
}

.section-3 {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    margin-top: 60px;
    margin-bottom: 193px;
    justify-content: space-between;
    padding: 0 165px;
}

.icon-container {
    width: 65px;
    height: 65px;
    flex-shrink: 0;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 26px;
    margin-bottom: 39px;
}

b {
    color: #7B8BAD;
    font-family: Barlow;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 26px;
}


/* Tablet */

@media (min-width: 481px) and (max-width: 850px) {
    html,
    body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    .logo {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        float: left;
        margin-top: 27px;
        margin-left: 24px;
    }
    .primary-button {
        width: 150px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #E8EFF2;
        border-width: 0;
        color: #162542;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        /* 162.5% */
        text-transform: uppercase;
        float: right;
        margin-top: 27px;
        margin-right: 39px;
    }
    .section-1 {
        height: 286px;
        margin-top: 45px;
        margin-left: -155px;
        display: block;
        flex-wrap: nowrap;
    }
    .typemaster-text {
        width: 339px;
        color: #162542;
        font-family: Barlow;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        /* 100% */
        text-transform: uppercase;
    }
    .description-1 {
        width: 339px;
        color: #7B8BAD;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        /* 162.5% */
    }
    .secondary-button {
        width: 175px;
        height: 58px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        margin-right: 10px;
    }
    .release-text {
        color: #7B8BAD;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        text-transform: uppercase;
        margin-left: 10px;
    }
    .typemaster-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-1-left {
        margin-top: 10px;
    }
    .section-1-right {
        margin-top: -250px;
        float: right;
        overflow: hidden;
        margin-right: -235px;
    }
    .section-2 {
        display: block;
        margin-top: 90px;
        margin-left: -165px;
        flex-wrap: nowrap;
        gap: 50px;
    }
    .section-2-left {
        margin-left: 30px;
        gap: 30px;
        flex-wrap: nowrap;
    }
    .section-2-right {
        display: flex;
        margin-left: 20px;
        flex-wrap: nowrap;
        gap: 20px;
        align-items: center;
    }
    .section1-image {
        width: 478px;
        height: 325px;
        flex-shrink: 0;
        border-radius: 20px;
    }
    .section2-first-image {
        width: 214px;
        height: 320px;
        flex-shrink: 0;
        border-radius: 20px;
    }
    .overlay {
        width: 214px;
        height: 320px;
        border-radius: 20px;
        position: absolute;
        background: #F16718;
        mix-blend-mode: multiply;
        z-index: 1;
        border-radius: 20px;
    }
    .section2-second-image {
        width: 445px;
        height: 320px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #D8D8D8;
    }
    .mechanical-text {
        width: 255px;
        color: #162542;
        font-family: Barlow;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        /* 112.5% */
        text-transform: uppercase;
        margin-left: 20px;
    }
    .description-body2 {
        position: absolute;
        display: flex;
    }
    .description-body2>.description {
        float: right;
        margin-left: 250px;
        width: 398px;
    }
    .description {
        color: #7B8BAD;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
    .section3-body {
        width: 300px;
        height: 289px;
        flex-shrink: 0;
    }
    .header-frame {
        width: 200px;
        display: flex;
    }
    .header {
        color: #162542;
        font-family: Barlow;
        font-size: 24px;
        font-style: normal;
        font-weight: 900;
        line-height: 28px;
        /* 116.667% */
        text-transform: uppercase;
    }
    .section-3 {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 30px;
        margin-top: 60px;
        margin-bottom: 193px;
        justify-content: space-around;
        padding: 0 0px;
    }
    footer {
        margin-bottom: 50px;
    }
    .description-body3 {
        display: flex;
        align-items: baseline;
        justify-content: center;
    }
}


/* Mobile */

@media (max-width: 480px) {
    html,
    body {
        overflow-x: hidden;
    }
    body {
        position: relative
    }
    .logo {
        width: 40px;
        height: 40px;
        flex-shrink: 0;
        float: left;
        margin-top: 27px;
        margin-left: 24px;
    }
    .primary-button {
        width: 150px;
        height: 48px;
        flex-shrink: 0;
        border-radius: 8px;
        background: #E8EFF2;
        border-width: 0;
        color: #162542;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        /* 162.5% */
        text-transform: uppercase;
        float: right;
        margin-top: 27px;
        margin-right: 39px;
    }
    .section-1 {
        width: 327px;
        height: 286px;
        margin-top: 45px;
        margin-left: -155px;
        display: block;
        flex-wrap: nowrap;
    }
    .typemaster-text {
        color: #162542;
        font-family: Barlow;
        font-size: 48px;
        font-style: normal;
        font-weight: 900;
        line-height: 48px;
        /* 100% */
        text-transform: uppercase;
    }
    .description-1 {
        width: 327px;
        color: #7B8BAD;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
    .secondary-button {
        width: 150px;
        height: 48px;
        flex-shrink: 0;
        color: #FFF;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        /* 162.5% */
        text-transform: uppercase;
        margin-right: 10px;
    }
    .release-text {
        color: #7B8BAD;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 26px;
        /* 162.5% */
        text-transform: uppercase;
        margin-left: 10px;
    }
    .typemaster-button {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .section-1-right {
        margin-top: 20px;
        margin-right: -20px;
        float: right;
    }
    .section-2 {
        display: flex;
        margin-top: 340px;
        justify-content: center;
        flex-wrap: wrap;
        gap: 20px;
        align-items: center;
    }
    .section-2-left {
        margin-left: -80px;
    }
    .section-2-right {
        width: 255px;
    }
    .section1-image {
        width: 372px;
        height: 281px;
        flex-shrink: 0;
        border-radius: 20px;
        margin-right: -20px;
        z-index: 1;
    }
    .section2-first-image {
        width: 179px;
        height: 193px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #F16718;
        background-size: cover;
    }
    .overlay {
        width: 129px;
        height: 193px;
        border-radius: 20px;
        position: absolute;
        background: #F16718;
        mix-blend-mode: multiply;
        z-index: 1;
        border-radius: 20px;
    }
    .section2-second-image {
        width: 220px;
        height: 193px;
        flex-shrink: 0;
        border-radius: 20px;
        background: #D8D8D8;
        margin-left: 20px;
    }
    .mechanical-text {
        color: #162542;
        text-align: center;
        font-family: Barlow;
        font-size: 32px;
        font-style: normal;
        font-weight: 900;
        line-height: 36px;
        text-transform: uppercase;
    }
    .description {
        color: #7B8BAD;
        text-align: center;
        font-family: Barlow;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
    }
    .section-3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 0px;
    }
    .header-frame {
        text-align: center;
        align-content: center;
        flex-wrap: wrap;
        width: 220px;
        display: flex;
    }
    .header {
        display: flex;
        margin-left: 0px;
    }
    .header>span {
        margin-left: 50px;
    }
    .icon-container {
        text-align: center;
    }
    svg {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-left: 125%;
    }
    footer {
        margin-bottom: 50px;
    }
}
